.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.flex-container--padded {
  padding-top: 2rem;
}

.flex-container--centered {
  justify-content: center;
}

.flex-container--grey {
  background-color: #f7f7f7;
}

@media screen and (min-width: 1000px) {
  .flex-container {
    padding-bottom: 8rem;
  }
}
