/* Introduction section styling*/

.intro {
  padding: 5% 0;
}

.profile-img {
  max-height: 35vh;
  border-radius: 50%;
}

.name-text {
  font-weight: bold;
  font-size: 3rem;
  padding: 1% 0;
}

.intro-content {
  justify-content: center;
  color: black;
  padding: 1% 0;
}

.intro-text {
  font-size: 1.5rem;
  padding: 1% 0 2% 0;
}

.centered-text {
  justify-content: center;
}
