/* Introduction section styling*/

.intro-content {
  margin: 8% 0 0 0;
}

.profile-img {
  max-height: 35vh;
  border-radius: 50%;
}

.name-text {
  font-weight: bold;
  font-size: 3rem;
  padding: 1% 0;
}

.intro-content {
  justify-content: center;
  color: black;
  padding: 1% 0;
}

.intro-text {
  font-size: 1.5rem;
  padding: 1% 0 2% 0;
}

.centered-text {
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .intro__profile-img {
    max-height: 30vh;
  }
  .intro-content {
    padding-top: 20% !important;
  }

  .name-text {
    padding-top: 8%;
    font-size: 2rem;
  }

  .centered-text,
  .intro-text {
    padding-top: 8%;
  }
}
