.section-container {
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
}

.about-content {
  margin-left: 1rem;
}

.about-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.about-text {
  font-size: 1.2rem;
}

.about-title {
  font-size: 1.5rem;
}

.contact-icons,
.skill-icons {
  padding-left: 2rem;
  padding-top: 1rem;
}

.contact-logo,
.skill-logo {
  margin-right: 1rem;
}

@media screen and (min-width: 1400px) {
  .section-container {
    width: 70%;
  }

  .about-title {
    margin-bottom: 2rem;
  }

  .contact-icons,
  .skill-icons {
    padding-bottom: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .about-row {
    flex-direction: row;
  }

  .about-img {
    width: 35%;
  }

  .about-text {
    padding: 1rem 0 0 2rem;
  }
}

@media screen and (max-width: 767px) {
  .about-img {
    width: 75%;
    margin: auto;
    padding-bottom: 3rem;
  }

  .about-text {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    text-align: center;
  }

  .contact-icons,
  .skill-icons {
    padding-left: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }
}
